# Default ignored files
/shelf/
/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
*.class
/bsp.xml
/codeStyles/codeStyleConfig.xml
/compiler.xml
/encodings.xml
/gradle.xml
/jarRepositories.xml
/jpa-buddy.xml
/misc.xml
/modules.xml
/codeStyles/Project.xml
/scala_compiler.xml
/uiDesigner.xml
/vcs.xml
